<h2>Imaginary Puppy Factory</h2>
<!--Get all puppies. -->
<form>
    Get All Puppies<br>
    <input type="submit" onclick="window.location = 'https://sql-exercise-tysonlafollette.c9users.io/api/puppies'">
</form>
<hr>
<!--Get a single puppy -->
<form action="">
    Get Single Puppy<br>
    ID: <input type="text" size="10">
    <input type="submit" onclick="">
</form>
<hr>
<form>
    Add<br>
    Name <input type="text" size="10">
    Age <input type="text" size="10">
    Breed <input type="text" size="10">
    Sex <input type="text" size="10">
    <input type="submit" onclick="">
</form>
<hr>
<form>
    Edit<br>
    Name <input type="text" size="10">
    Age <input type="text" size="10">
    Breed <input type="text" size="10">
    Sex <input type="text" size="10">
    <input type="submit" onclick="">
</form>
<hr>
<form>
    Remove<br>
    ID # <input type="text" size="10">
    <input type="submit" onclick="">
</form>

<script>
    function getAllPuppies() {
        ;
    }
</script>